body {
  background-color: #000;
  font-size: 1rem;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, Icons16, sans-serif; */
  /* font-family: sans-serif; */
  /* font-family: "CustomFont"; */
}

#container {
  background-color: #fff;
  position: relative;
  margin: 3rem auto;
  padding: 2rem;
  width: 80%;
  height: 80vh;
  /* border-radius: 20px; */
}

#page-view {
  flex-direction: column;
}
#app-view {
  flex-direction: row;
}
.app-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  margin: 0 1rem 0 0;
}

.app-item:hover {
  background-color: #d9e7cb;
}

.app-icon {
  margin: 0 auto;
  height: 4rem;
}
.app-icon > img {
  width: 3rem;
}
/* @font-face {
  font-family: "CustomFont";
  src: url("./static/IndieFlower-Regular.ttf");
} */

input[type="color"] {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
