body {
  background-color: #000;
  /* font-family: "CustomFont"; */
}

#container {
  background-color: #fff;
  margin: 3rem auto;
  padding: 2rem;
  width: 80%;
  height: 80vh;
  /* border-radius: 20px; */
}

#page-view {
  flex-direction: column;
}
#app-view {
  flex-direction: row;
}
.app-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  margin: 0 1rem 0 0;
}

.app-item:hover {
  background-color: #d9e7cb;
}

.app-icon {
  margin: 0 auto;
  height: 4rem;
}
.app-icon > img {
  width: 3rem;
}
@font-face {
  font-family: "CustomFont";
  src: url("./static/IndieFlower-Regular.ttf");
}
